@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Rubik");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4ejuqb");
  src: url("../fonts/icomoon.eot?4ejuqb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4ejuqb") format("truetype"), url("../fonts/icomoon.woff?4ejuqb") format("woff"), url("../fonts/icomoon.svg?4ejuqb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

*[icon]:before {
  display: inline-block;
  font-family: 'icomoon';
}

*[icon="barbell"]:before {
  content: "\e900";
}

*[icon="bread"]:before {
  content: "\e901";
}

*[icon="flash"]:before {
  content: "\e902";
}

*[icon="program"]:before {
  content: "\e903";
}

body, html, menu {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "sans-serif", "Poiret One", "cursive";
}

a {
  display: block;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

title {
  display: block;
}

.active-c {
  color: #6657c3;
}

.active-bg {
  background-color: #6657c3 !important;
  color: #fff !important;
}

.schedule-dot {
  position: relative;
}

.schedule-dot::before {
  content: '';
  width: 4px;
  height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #008eff;
}

.schedule-imp-dot {
  position: relative;
}

.schedule-imp-dot::after {
  content: '';
  width: 4px;
  height: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #ff1877;
}

.round {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.bolder {
  margin: 0;
  font-weight: 700;
}

.aritle-contr {
  background-color: #fff;
}

.aritle-contr .aritle {
  border-bottom: 2px solid #e5e5e5;
  height: 6rem;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 700;
}

.aritle-contr .aritle > * {
  display: inline-block;
  float: left;
}

.aritle-contr .aritle:first-of-type {
  border-top: 2px solid #e5e5e5;
}

.aritle-contr .aritle:last-of-type {
  border-bottom: none;
}

.aritle-contr .aritle .article-bg {
  width: 4rem;
  height: 4rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #008eff;
  margin-right: 16px;
}

.aritle-contr .aritle .article-contant {
  width: calc(100% - 94px);
  height: 100%;
}

.aritle-contr .aritle .article-contant .contant-date,
.aritle-contr .aritle .article-contant .contant-auth,
.aritle-contr .aritle .article-contant .contant-score {
  color: #757575;
}

.aritle-contr .aritle .article-contant .contant-auth {
  font-size: 14px;
}

.aritle-contr .aritle .article-contant .contant-date {
  margin: 5px 0;
}

.aritle-contr .aritle .article-contant .contant-score {
  float: right;
  width: 25px;
  height: 14px;
  border: 1px solid #757575;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  font-size: 12px;
}

.aritle-contr .aritle .more-dot {
  float: right;
  line-height: 62px;
  transform: scale(1.2);
}

.schedule-daily {
  font-weight: 700;
}

.schedule-daily .day {
  display: inline-block;
  width: calc((100% / 7) - 3.5px);
  line-height: 2.5rem;
  text-align: center;
}

.schedule-daily .day .num {
  position: relative;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}

.schedule-daily .day .num.schedule-dot::before {
  position: absolute;
  top: 30px;
  left: 18px;
}

.schedule-daily .day .num:hover {
  background-color: #6657c3 !important;
  color: #fff !important;
}

.schedule-daily .day .num.schedule-imp-dot::after {
  position: absolute;
  top: 40px;
  left: 18px;
}

.schedule-daily .day.unmark {
  color: #757575;
}

.container {
  overflow: hidden;
}

.container .left-side {
  width: 15%;
  height: 100vh;
  float: left;
  border-right: 2px solid #e5e5e5;
  box-sizing: border-box;
  overflow: hidden;
}

.container .left-side i.fa-heart {
  width: 2rem;
  height: 2rem;
  background-color: #8e80ee;
  margin: 2.25rem auto 2.85rem 2rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  font-size: 1rem;
  box-shadow: 2px 2px 8px 0px rgba(142, 128, 238, 0.5);
}

.container .left-side i {
  width: 1.5rem;
  height: 1.5rem;
  color: #454545;
  display: inline-block;
  line-height: inherit;
  text-align: center;
  margin-right: 0.85rem;
}

.container .left-side a {
  padding-left: 2rem;
  width: 100%;
  height: 3.5rem;
  line-height: 3.5rem;
  color: #454545;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: capitalize;
}

.container .left-side a:hover, .container .left-side a.active {
  background-color: #f3f1fd;
  color: #6657c3;
}

.container .left-side a:hover i, .container .left-side a.active i {
  color: #6657c3;
}

.container #header {
  width: 85%;
  height: 4rem;
  float: right;
  background-color: #fafafa;
  border-bottom: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.container #header > * {
  box-sizing: border-box;
}

.container #header .search-label {
  width: 65%;
  height: 100%;
  float: left;
  position: relative;
  border-right: 2px solid #e5e5e5;
}

.container #header .search-label #search {
  outline: none;
  width: 100%;
  height: 100%;
  color: #757575;
  text-transform: capitalize;
  border: none;
  background: inherit;
  padding-left: 4.25rem;
  font-size: 1.85rem;
  box-sizing: border-box;
}

.container #header .search-label i.fa-search {
  color: #757575;
  font-size: 1.5rem;
  position: absolute;
  top: 21px;
  left: 2rem;
}

.container #header .search-label .search-btn {
  width: 4rem;
  height: inherit;
  border-left: 2px solid #e5e5e5;
  font-size: 1rem;
  font-weight: 700;
  color: #757575;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.container #header .search-label .search-btn:hover {
  background-color: #757575;
  color: #e5e5e5;
}

.container #header .bell {
  width: 5%;
  height: 100%;
  float: left;
  border-right: 2px solid #e5e5e5;
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
}

.container #header .bell i.fa-bell {
  cursor: pointer;
  position: relative;
  color: #919191;
}

.container #header .bell i.fa-bell::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: #6657c3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0px 0px 0px 2px #fafafa;
  position: absolute;
  top: 2px;
  left: 12px;
}

.container #header .user {
  width: 30%;
  height: 100%;
  float: left;
  line-height: 4rem;
  text-align: center;
}

.container #header .user .user-id {
  width: 80%;
  line-height: 2rem;
}

.container #header .user .user-pic {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #ffa91a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin: 1rem;
  color: #fff;
}

.container .contact {
  width: 85%;
  height: calc(100vh - 4rem);
  float: left;
  background-color: #fafafa;
  box-sizing: border-box;
}

.container .contact .schedule-contr {
  width: 70%;
  height: auto;
  float: left;
  font-weight: 700;
  padding: 2.65rem;
  box-sizing: border-box;
}

.container .contact .schedule-contr .tags {
  width: 100%;
  margin-bottom: 2.85rem;
}

.container .contact .schedule-contr .tags .tags-contact {
  display: inline-block;
  width: auto;
  height: 2.75rem;
  background-color: #eee;
  padding: 0 1.5rem;
  margin: 0 4px;
  line-height: 2.75rem;
  color: #949494;
}

.container .contact .schedule-contr .tags .tags-contact:first-of-type {
  margin-left: 0;
}

.container .contact .schedule-contr .tags .tags-contact.active-bg {
  box-shadow: 2px 2px 5px 0px rgba(142, 128, 238, 0.5);
}

.container .contact .schedule-contr .schedule > span {
  font-size: 14px;
  color: #a3a2a2;
}

.container .contact .schedule-contr .schedule .date {
  font-size: 28px;
}

.container .contact .schedule-contr .schedule .arrow-item {
  float: right;
  margin-top: -1.5rem;
}

.container .contact .schedule-contr .schedule .arrow-item i {
  cursor: pointer;
  display: inline-block;
  color: #a3a2a2;
}

.container .contact .schedule-contr .schedule .schedule-panel {
  width: 100%;
  height: 6rem;
  margin: 1rem auto 3rem auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 2px 2px 5px 0px rgba(54, 54, 54, 0.5);
  overflow: hidden;
}

.container .contact .schedule-contr .schedule .schedule-daily {
  width: 55%;
  height: 100%;
  background-color: #fff;
  float: left;
}

.container .contact .schedule-contr .schedule .next-schedule {
  width: 45%;
  height: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}

.container .contact .schedule-contr .schedule .next-schedule img {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: inline-block;
}

.container .contact .schedule-contr .schedule .next-schedule .next-content {
  float: left;
  width: 60%;
  height: 100%;
  display: inline-block;
  margin-left: 20px;
}

.container .contact .schedule-contr .schedule .next-schedule .next-content title {
  height: 60%;
}

.container .contact .schedule-contr .schedule .next-schedule .open {
  float: right;
  color: #fff;
  width: 20%;
  display: inline-block;
  line-height: 4rem;
}

.container .contact .calendar-contr {
  width: 30%;
  height: 100%;
  float: right;
  background-color: #fff;
  position: relative;
}

.container .contact .calendar-contr p {
  margin-bottom: 16px;
  margin-left: 16px;
}

.container .contact .calendar-contr .calendar {
  height: 42vh;
}

.container .contact .calendar-contr .calendar .calendar-header {
  text-align: center;
  margin: 1.5rem 6%;
}

.container .contact .calendar-contr .calendar .calendar-header .fa-chevron-left {
  float: left;
}

.container .contact .calendar-contr .calendar .calendar-header .fa-chevron-right {
  float: right;
}

.container .contact .calendar-contr .calendar .calendar-header span {
  color: #8e80ee;
  font-weight: 700;
}

.container .contact .calendar-contr .calendar .day {
  height: calc(42vh / 6);
}

.container .contact .calendar-contr .aritle-contr {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container .contact .calendar-contr .add-list {
  width: 50px;
  height: 50px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: #ffa91a;
  box-shadow: 5px 5px 5px 5px rgba(255, 169, 26, 0.21);
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  right: 10%;
}

.schedule-list {
  width: 47.5%;
  float: left;
  box-sizing: border-box;
}

.schedule-list:first-of-type {
  margin-right: 5%;
}

.schedule-list h5 {
  color: #757575;
  margin: 1rem 0;
}

.schedule-list .aritle-contr {
  box-shadow: 2px 0px 5px 0px rgba(54, 54, 54, 0.5);
  padding-bottom: 5.65rem;
}

.schedule-list .aritle-contr .aritle:first-of-type {
  border-top: none;
}
