@charset "UTF-8";
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poiret+One|Rubik");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4ejuqb");
  src: url("../fonts/icomoon.eot?4ejuqb#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4ejuqb") format("truetype"), url("../fonts/icomoon.woff?4ejuqb") format("woff"), url("../fonts/icomoon.svg?4ejuqb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

*[icon]:before {
  display: inline-block;
  font-family: "icomoon";
}

*[icon="barbell"]:before {
  content: "\e900";
}

*[icon="bread"]:before {
  content: "\e901";
}

*[icon="flash"]:before {
  content: "\e902";
}

*[icon="program"]:before {
  content: "\e903";
}

*[icon="love"]:before {
  content: "\f004";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="bell"]:before {
  content: "\f0f3";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="search"]:before {
  content: "\f002";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="calendar"]:before {
  content: "\f133";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="message"]:before {
  content: "\f27a";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="arrowDown"]:before {
  content: "\f078";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="arrowleft"]:before {
  content: "\f053";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="arrowright"]:before {
  content: "\f054";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="more"]:before {
  content: "\f141";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

*[icon="add"]:before {
  content: "\f067";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
}

/* 清除格式 */
*, o, i, s, h1, h2, h3, h4, h5, h6, ul, li, a, p, br, td, th, small, b,
button, input, select, textarea {
  font-family: "Rubik", "sans-serif", "Poiret One", "cursive";
  margin: 0px;
  padding: 0px;
  vertical-align: top;
  text-decoration: none;
  outline: none;
  letter-spacing: 1px;
  font-size: 14px;
  color: #484848;
}

img {
  max-width: 100%;
}

*[v-cloak] {
  display: none;
}

*[align="justify"] {
  text-align: justify;
  text-justify: inter-ideograph;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #e6e9f0;
}

.popover-moduel > .title {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.popover-moduel > .title[icon="bell"]:before {
  font-size: 20px;
  font-weight: 10;
}

.popover-moduel > .title[icon="bell"]:after {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #8e80ef;
  top: 1px;
  right: 0px;
  border: solid 2px white;
}

.popover-moduel > .title .cube {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  height: 30px;
  line-height: 30px;
  background: #ffa91a;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  margin-right: 5px;
}

.popover-moduel > .title[drop="true"]:after {
  content: "\f078";
  font-weight: 800;
  font-family: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin-left: 2px;
  transform: rotate(0deg);
  transition: .5s;
  position: relative;
  top: -1.3px;
}

.popover-moduel > .title[drop="true"]:hover:after {
  transform: rotate(-180deg);
}

.popover-moduel .popover-item {
  display: none;
}

.search-module > * {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 100;
  color: #e3e6ed;
  display: inline-block;
  vertical-align: middle;
}

.search-module button {
  cursor: pointer;
  padding: 10px;
}

.search-module button.focus {
  color: #8e80ef;
}

.search-module input {
  color: #484848;
  letter-spacing: 1.5px;
  font-size: 15px;
  width: calc(100% - 40px);
}

.search-module input::placeholder {
  color: #b5b5b5;
  font-size: 16px;
}

.calendar-module > * {
  display: block;
  width: 100%;
}

.calendar-module .calendar-header {
  padding: 16px 0;
}

.calendar-module .calendar-week {
  display: block;
  width: 100%;
  font-size: 0;
}

.calendar-module .calendar-week > .days {
  display: inline-block;
  width: calc((100% / 7) - 1px);
  text-align: center;
  padding: 0;
  cursor: pointer;
  color: #b5b5b5;
  position: relative;
}

.calendar-module .calendar-week > .days .num {
  display: inline-block;
  border-radius: 100%;
  width: 30px;
  padding-top: 6px;
}

.calendar-module .calendar-week > .days .dot {
  display: block;
  text-align: center;
  height: 7px;
}

.calendar-module .calendar-week > .days .dot:before {
  display: inline-block;
  width: 4px;
  height: 4px;
  content: "";
  border-radius: 100%;
  background: #038eff;
}

.calendar-module .calendar-week > .days .dot.bg-red:before {
  background: #ff1d7a;
}

.calendar-module .calendar-week > .days.active .num {
  background: #038eff;
  color: white;
  width: 30px;
  line-height: 29px;
  padding-top: 0;
}

.calendar-module .calendar-week > .days.active .num + .dot {
  display: none;
}

.calendar-module .calendar-week > .days:hover .num {
  background: #038eff;
  color: white;
  width: 30px;
  line-height: 29px;
  padding-top: 0;
}

.calendar-module .calendar-week > .days[disabled]:hover .num, .calendar-module .calendar-week > .days[disabled] .num {
  color: #ededed;
  background: none;
}

.calendar-module .calendar-body .days {
  color: #484848;
  height: 45px;
  font-weight: 600;
}

.calendar-module .calendar-control > * {
  font-size: 15px;
  display: inline-block;
  vertical-align: top;
  min-width: 50px;
  text-align: center;
}

.calendar-module .calendar-control > .title {
  width: calc(100% - 110px);
  color: #8e80ef;
  font-weight: 600;
}

.calendar-module .calendar-control a:hover, .calendar-module .calendar-control a:active {
  color: #8e80ef;
}

.badge-module {
  width: 100%;
  font-size: 0;
}

.badge-module .item {
  display: inline-block;
  background: #ececec;
  padding: 8px 15px;
  color: #9b9b9b;
  letter-spacing: 1.5px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.badge-module .item + .item {
  margin-left: 5px;
}

.badge-module .item:hover, .badge-module .item:active, .badge-module .item.active {
  background: #8e80ef;
  color: white;
}

.body-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: white;
  font-size: 0;
}

.body-container > * {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  box-sizing: border-box;
}

.body-container > #aside {
  width: 260px;
  border-right: solid 1px #e3e6ed;
  padding: 10px 20px;
}

.body-container > #right-container {
  width: calc(100% - 262px);
  background: #fafafa;
}

#aside {
  position: relative;
}

#aside .love {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  top: 5vh;
  left: 42px;
  font-size: 12px;
  color: white;
  background: #8e80ef;
  line-height: 31px;
  text-align: center;
  border-radius: 100%;
  box-shadow: 3px 3px 4px 1px rgba(142, 128, 239, 0.2);
}

#aside .menu {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  height: 100%;
  padding: 10vh 25px;
}

#aside .menu .item {
  display: block;
  height: 55px;
  line-height: 55px;
  color: #484848;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
}

#aside .menu .item > span {
  position: relative;
  z-index: 1;
  font-family: "Rubik", "sans-serif";
}

#aside .menu .item:before {
  margin-right: 20px;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
}

#aside .menu .item:hover, #aside .menu .item.active {
  color: #8e80ef;
  font-weight: bold;
}

#aside .menu .item:hover:after, #aside .menu .item.active:after {
  content: "";
  position: absolute;
  left: -50px;
  width: calc(100% + 95px);
  background: #8e80ef;
  display: block;
  height: 100%;
  top: 0;
  z-index: 0;
  opacity: .1;
}

#right-container > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#right-container > #main {
  border-top: solid 1px #e3e6ed;
}

#header > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  box-sizing: border-box;
}

#header > .search-module {
  width: calc(100% - 265px);
  padding: 10px 16px;
}

#header > .right {
  width: 260px;
  display: inline-table;
}

#header > .right > * {
  display: table-cell;
  vertical-align: middle;
  border-left: solid 1px #e3e6ed;
  color: #484848;
  padding: 15px 18px;
}

#main {
  display: table;
  height: calc(100vh - 60px);
}

#main > * {
  display: table-cell;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
}

#main .mainAside {
  background: white;
  width: 380px;
  max-width: 100%;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.08);
}

.mainBody > * + * {
  margin-top: 30px;
}

.week-container > .title {
  display: table;
  width: 100%;
  padding: 0px 0 15px 0;
  letter-spacing: 2px;
}

.week-container > .title > h4 {
  font-size: 18px;
}

.week-container > .title small {
  display: block;
  font-size: 12px;
  color: #e3e6ed;
  transform: scale(0.8);
  transform-origin: center left;
}

.week-container > .title > * {
  width: 100px;
  display: table-cell;
  vertical-align: middle;
}

.week-container > .title > *:last-child {
  text-align: right;
}

.week-container > .title a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 3px;
  position: relative;
  top: 9px;
}

.week-container > .title a:hover {
  color: #8e80ef;
}

.week-container .weekBox {
  font-size: 0;
  background: white;
  box-shadow: -3px 2px 5px 1px rgba(0, 0, 0, 0.06);
  display: table;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.week-container .weekBox > * {
  display: table-cell;
  vertical-align: middle;
  width: calc(100% / 2);
}

.week-container .weekBox .content {
  padding: 0px 5px 8px 5px;
  box-sizing: border-box;
  color: white;
}

.week-container .weekBox .content + .content {
  background: #8e80ef;
  padding: 20px 10px 18px 10px;
}

.week-container .weekBox .content > * {
  display: inline-block;
  vertical-align: middle;
}

.week-container .weekBox .content > img {
  width: 50px;
}

.week-container .weekBox .content > .contentBox {
  width: calc(100% - 130px);
  color: white;
  margin-left: 10px;
}

.week-container .weekBox .content > .contentBox + .contentBox {
  text-align: center;
  width: 50px;
}

.week-container .weekBox .content > .contentBox .title {
  font-size: 16px;
  font-weight: 800;
  font-family: Arial;
}

.week-container .weekBox .content > .contentBox small {
  font-size: 12px;
  opacity: .7;
  letter-spacing: 1px;
}

.week-container .weekBox .content .title, .week-container .weekBox .content small {
  color: white;
  letter-spacing: 1.5px;
}

.week-container .calendar-module {
  width: 100%;
}

.list-container {
  font-size: 0;
  height: calc(100% - 186px);
}

.list-container .list-box {
  display: inline-block;
  width: calc(48% - 1px);
  height: 100%;
  overflow: hidden;
}

.list-container .list-box + .list-box {
  margin-left: 3.5%;
}

.list-container .list-box .item-box {
  background: white;
  height: calc(100% - 45px);
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
}

.list-container .list-box .item-box .item {
  padding: 8px 10px;
}

.list-box {
  box-sizing: border-box;
}

.list-box .list-title {
  font-size: 15px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.list-box .list-title small {
  font-size: 12px;
  color: #e3e6ed;
}

.list-box .item-box .item {
  padding: 8px 0;
}

.list-box .item-box .item + .item {
  border-top: solid 1px #ededed;
}

.list-box .item-box .item > * {
  display: inline-block;
  vertical-align: middle;
  height: 80px;
}

.list-box .item-box .item .photo {
  width: 50px;
  height: 50px;
  background: #038eff center center no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.list-box .item-box .item .detail {
  width: calc(100% - 95px);
  margin-left: 10px;
}

.list-box .item-box .item .detail > *, .list-box .item-box .item .detail .cube {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 400;
}

.list-box .item-box .item .detail .cube {
  border: solid 1px #e6e9f0;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  padding: 0 4px;
  line-height: 15px;
  margin-left: 3px;
  font-size: 12px;
}

.list-box .item-box .item .detail .title {
  font-size: 15px;
  font-weight: 600;
  color: #141414;
  line-height: 30px;
  height: 30px;
  overflow: hidden;
}

.list-box .item-box .item .detail .text, .list-box .item-box .item .detail .tag {
  line-height: calc(50px / 3);
  width: 100%;
}

.list-box .item-box .item .detail .text {
  max-height: calc((50px / 3) * 2);
  overflow: hidden;
}

.list-box .item-box .item .detail .tag {
  max-height: calc(50px / 3);
  overflow: hidden;
}

.list-box .item-box .item .more {
  color: #ededed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.list-box .item-box .item .more:hover, .list-box .item-box .item .more:active {
  color: #038eff;
}

#main .mainAside {
  padding: 20px 0;
}

.mainAside .calendar-module {
  border-bottom: solid 1px #ededed;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.mainAside .list-box .list-title {
  padding: 0 18px;
  padding-bottom: 0;
}

.mainAside .list-box .item {
  padding: 5px 15px;
}

.addMore {
  position: fixed;
  z-index: 10;
  right: 2.5vw;
  bottom: 4vh;
  width: 60px;
  height: 60px;
  display: block;
  background: #ffa91a;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 100%;
  box-shadow: 5px 6px 19px 1px rgba(255, 169, 26, 0.3);
}

.addMore:hover {
  opacity: .9;
}
