<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <title>官方網站</title>
  </head>
  <body>
    <noscript>
      <strong>請開啟 JavaScript 功能在繼續使用</strong>
    </noscript>
    <div id="app" v-cloak></div>
    <!-- built files will be auto injected -->
  </body>
</html>
