
// https://dribbble.com/shots/5359506-Schedule/attachments
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rubik');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ejuqb');
  src:  url('../fonts/icomoon.eot?4ejuqb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ejuqb') format('truetype'),
    url('../fonts/icomoon.woff?4ejuqb') format('woff'),
    url('../fonts/icomoon.svg?4ejuqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*[icon]:before {display: inline-block;font-family: 'icomoon';}
*[icon="barbell"]:before {content: "\e900";}
*[icon="bread"]:before {content: "\e901";}
*[icon="flash"]:before {content: "\e902";}
*[icon="program"]:before {content: "\e903";}

$c-1st: #fff;
$c-2st: #000;
$c-3st: #8e80ee;
$c-4st: #6657c3;
$c-5st: #454545;
$c-6st: #fafafa;
$c-7st: #ffa91a;
$c-8st: #008eff;
$c-9st: #ff1877;


@mixin size($w,$h:$w) {
  width: $w;
  height: $h;
}

@mixin float($direction) {
float: $direction
}

@mixin setBorder($w,$c) {
  border: $w solid $c;
}

@mixin brdRad($tl,$tr:$tl,$br:$tl, $bl:$tl) {
  border-top-left-radius: $tl;
	border-top-right-radius: $tr;
	border-bottom-right-radius: $br;
	border-bottom-left-radius: $bl;
}

@mixin setBg($color){
  background-color: $color;
}

body,html,menu {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "sans-serif", "Poiret One", "cursive";
}

a {
  display: block;
  text-decoration: none;
}

li{
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

title {
  display: block;
}

// CSS Modules

.active-c {
  color: $c-4st;
}

.active-bg {
  background-color: $c-4st !important;
  color: $c-1st !important;
}
.schedule-dot {
  position: relative;
  &::before {
    content: '';
    @include size(4px);
    @include brdRad(4px);
    @include setBg($c-8st);
  }
}
.schedule-imp-dot {
  position: relative;
  &::after {
    content: '';
    @include size(4px);
    @include brdRad(4px);
    @include setBg($c-9st);
  }
}

.round {
  @include brdRad(50%);
}

.bolder {
  margin: 0;
  font-weight: 700;
}

.aritle-contr {
  @include setBg($c-1st);
.aritle {
  border-bottom: 2px solid #e5e5e5;
  height: 6rem;
  padding: 16px;
  box-sizing: border-box;
  font-weight: 700;
  > * {
    display: inline-block;
    @include float(left);

  }
  &:first-of-type {
    border-top: 2px solid #e5e5e5;
  }
  &:last-of-type {
    border-bottom: none;
  }
  .article-bg {
    @include size(4rem);
    @include brdRad(8px);
    @include setBg(#008eff);
    margin-right: 16px;
  }
  .article-contant{
    @include size(calc(100% - 94px),100%);
    .contant-date,
    .contant-auth, 
    .contant-score {
      color: #757575;
    }
    .contant-auth{
      font-size: 14px;

    }
    .contant-date{
      margin: 5px 0;
    }
    .contant-score {
      @include float(right);
      @include size(25px,14px);
      @include setBorder(1px,#757575);
      @include brdRad(4px);
      text-align: center;
      font-size: 12px;
    }
  }
  .more-dot {
    @include float(right);
    line-height: 62px;
    transform: scale(1.2);
  }
 }
}
.schedule-daily{
  font-weight: 700;

.day {
  display: inline-block;
  width: calc((100% / 7) - 3.5px);
  line-height: 2.5rem;
  text-align: center;
  .num{
    position: relative;
    @include brdRad(50%);
    display: inline-block;
    @include size(2.5rem);
    &.schedule-dot {
      &::before {
        position: absolute;
        top:30px;
        left:18px;
      }  
    }
   &:hover {
    background-color: $c-4st !important;
    color: $c-1st !important;
   } 
  &.schedule-imp-dot{
    &::after {
      position: absolute;
      top:40px;
      left:18px;
      } 
    }
  }
  &.unmark {
    color: #757575;
  }
}
}

.container {
  overflow: hidden;
  .left-side {
    @include size(15%,100vh);
    @include float(left);
    border-right: 2px solid #e5e5e5;
    box-sizing: border-box;
    overflow: hidden;
    i.fa-heart {
      @include size(2rem);
      @include setBg($c-3st);
      margin: 2.25rem auto 2.85rem 2rem;
      color: $c-1st;
      text-align: center;
      line-height: 2rem;
      font-size: 1rem;
      box-shadow: 2px 2px 8px 0px rgba(142,128,238,0.5);
    }
    i {
      @include size(1.5rem);
      color: $c-5st;
      display: inline-block;
      line-height: inherit;
      text-align: center;
      margin-right: 0.85rem;
    }
    a {
      padding-left: 2rem;
      @include size(100%,3.5rem);
      line-height: 3.5rem;
      color: $c-5st;
      box-sizing: border-box;
      font-weight: 700;
      text-transform:capitalize;
      &:hover,&.active{
        @include setBg(#f3f1fd);
        color: $c-4st;
        i {
          color: $c-4st;
        }
      }
    }
  }
  #header {
    @include size(85%,4rem);
    @include float(right);
    @include setBg($c-6st);
    border-bottom: 2px solid #e5e5e5;
    box-sizing: border-box;
    >* {
      box-sizing: border-box;
    }
    .search-label {
      @include size(65%,100%);
      @include float(left);
      position: relative;
      border-right: 2px solid #e5e5e5;
      #search {
        outline: none;
        @include size(100%);
        color: #757575;
        text-transform:capitalize;
        border: none;
        background: inherit;
        padding-left: 4.25rem;
        font-size: 1.85rem;
        box-sizing: border-box;
      }
      i.fa-search {
        color: #757575;
        font-size: 1.5rem;
        position: absolute;
        top: 21px;
        left: 2rem;
      }
      .search-btn{
        @include size(4rem, inherit);
        border-left: 2px solid #e5e5e5;
        font-size: 1rem;
        font-weight: 700;
        color: #757575;
        outline: none;
        position: absolute;
        top: 0;
        right: 0;
        &:hover {
          @include setBg(#757575);
          color: #e5e5e5;
        }
      }
    }
    .bell {
      @include size(5%,100%);
      @include float(left);
      border-right: 2px solid #e5e5e5;
      text-align: center;
      line-height: 4rem;
      font-size: 1.5rem;
      i.fa-bell {
        cursor: pointer;
        position: relative;
        color: #919191;
        &::after {
          content: '';
          @include size(8px);
          @include setBg($c-4st);
          @include brdRad(8px);
          box-shadow: 0px 0px 0px 2px rgba(250,250,250,1);
          position: absolute;
          top: 2px;
          left: 12px;
        }
      }
    }
    .user {
      @include size(30%,100%);
      @include float(left);
      line-height: 4rem; 
      text-align: center;
      .user-id {
        width: 80%;
        line-height: 2rem;
      }
      .user-pic {
        display: inline-block;
        @include size(2rem);
        @include setBg($c-7st);
        @include brdRad(6px);
        margin: 1rem;
        color: $c-1st;
      }
    }
  }
  .contact {
    @include size(85%,calc(100vh - 4rem));
    @include float(left);
    @include setBg($c-6st);
    box-sizing: border-box;
    .schedule-contr {
      @include size(70%,auto);
      @include float(left);
      font-weight: 700;
      padding: 2.65rem;
      box-sizing: border-box;
      .tags {
        width: 100%;
        margin-bottom: 2.85rem;
        .tags-contact{
          display: inline-block;
          @include size(auto,2.75rem);
          @include setBg(#eee);
          padding: 0 1.5rem;
          margin: 0 4px;
          line-height: 2.75rem;
          color: #949494;
          &:first-of-type {
            margin-left: 0;
          }
          &.active-bg {
            box-shadow: 2px 2px 5px 0px rgba(142,128,238,0.5);
          }
        }
      }
      .schedule {
        > span {
          font-size: 14px;
          color:#a3a2a2;
        }
        .date {
          font-size: 28px;
        }
        .arrow-item {
          @include float(right);
          margin-top: -1.5rem;
          i {
            cursor: pointer;
            display: inline-block;
            color:#a3a2a2;
          }
        }
        .schedule-panel{
          @include size(100%,6rem);
          margin: 1rem auto 3rem auto;
          @include brdRad(8px);
          box-shadow: 2px 2px 5px 0px rgba(54, 54, 54, 0.5);
          overflow: hidden;

        }
        .schedule-daily {
          @include size(55%,100%);
          @include setBg($c-1st);
          @include float(left);
        }
        .next-schedule {
          @include size(45%,100%);
          @include float(left);
          padding: 20px;
          box-sizing: border-box;
          img {
            @include float(left);
            @include size(3.5rem);
            @include brdRad(8px);
            display: inline-block;
          }
          .next-content{
            @include float(left);
            @include size(60%,100%);
            display: inline-block;
            margin-left: 20px;
            title {
              height: 60%;
            }
          }
          .open {
            @include float(right);
            color: $c-1st;
            width: 20%;
            display: inline-block;
            line-height: 4rem;
          }
        }
      }
    }
   
    .calendar-contr {
      @include size(30%,100%);
      @include float(right);
      @include setBg($c-1st);
      position: relative;
      p {
        margin-bottom: 16px;
        margin-left: 16px;
      }
      .calendar {
        height: 42vh;
        .calendar-header {
          text-align: center;
          margin: 1.5rem 6%;
          .fa-chevron-left {
            float: left;
          }
          .fa-chevron-right {
            float: right;
          }
          span {
            color: $c-3st;
            font-weight: 700;
          }
        }
        .day {
          height: calc(42vh / 6);
        }
      }
      .aritle-contr {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      .add-list {
        @include size(50px);
        @include brdRad(50%);
        @include setBg($c-7st);
        box-shadow: 5px 5px 5px 5px rgba(255,169,26,0.21);
        color: $c-1st;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        position: absolute;
        bottom: 5%;
        right: 10%;
      }
    }
  }
}

.schedule-list{
  width: 47.5%;
  @include float(left);
  box-sizing: border-box;
  &:first-of-type {
    margin-right: 5%;
  }
  h5 {
    color: #757575;
    margin: 1rem 0 ;
  }
  .aritle-contr {
    box-shadow: 2px 0px 5px 0px rgba(54, 54, 54, 0.5);
      padding-bottom: 5.65rem;
    .aritle {
      &:first-of-type {
        border-top:none;
      }
    }
  }
}