// https://dribbble.com/shots/5359506-Schedule/attachments
// https://dotblogs.com.tw/leo_codespace/2018/06/25/174235
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Rubik');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?4ejuqb');
  src:  url('../fonts/icomoon.eot?4ejuqb#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4ejuqb') format('truetype'),
    url('../fonts/icomoon.woff?4ejuqb') format('woff'),
    url('../fonts/icomoon.svg?4ejuqb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$fonts-all: "Rubik", "sans-serif", "Poiret One", "cursive";
$rubik: "Rubik", "sans-serif";
$poiret: "Poiret One", "cursive";
$icon: "icomoon";
$fontAwesome: "Font Awesome 5 Free", "Font Awesome 5 Brands", "Font Awesome 5 Pro";

$color: (
  black: #141414 #484848 #9b9b9b #b5b5b5,
  gray:  #ededed #e6e9f0 #e3e6ed #f6f6fa #ececec #fafafa #ffffff,
  purple: #8e80ef,
  orange: #ffa91a,
  pink: #ff1d7a,
  blue: #038eff
);

*[icon]:before {display: inline-block;font-family: $icon;}
*[icon="barbell"]:before {content: "\e900";}
*[icon="bread"]:before {content: "\e901";}
*[icon="flash"]:before {content: "\e902";}
*[icon="program"]:before {content: "\e903";}
*[icon="love"]:before {content: "\f004"; font-weight: 800;font-family:$fontAwesome;}
*[icon="bell"]:before {content: "\f0f3"; font-weight: 800;font-family:$fontAwesome;}
*[icon="search"]:before {content: "\f002"; font-weight: 800;font-family:$fontAwesome;}
*[icon="calendar"]:before {content: "\f133"; font-weight: 800;font-family:$fontAwesome;}
*[icon="message"]:before {content: "\f27a"; font-weight: 800;font-family:$fontAwesome;}
*[icon="arrowDown"]:before {content: "\f078"; font-weight: 800;font-family:$fontAwesome;}
*[icon="arrowleft"]:before {content: "\f053"; font-weight: 800;font-family:$fontAwesome;}
*[icon="arrowright"]:before {content: "\f054"; font-weight: 800;font-family:$fontAwesome;}
*[icon="more"]:before {content:"\f141";font-weight: 800;font-family:$fontAwesome;}
*[icon="add"]:before {content:"\f067";font-weight: 800;font-family:$fontAwesome;}


/* 清除格式 */
*,o,i,s,h1,h2,h3,h4,h5,h6,ul,li,a,p,br,td,th,small,b,
button, input, select, textarea {
    font-family: $fonts-all;
    margin: 0px;padding: 0px;vertical-align:top;
    text-decoration:none;outline:none;letter-spacing: 1px;
    font-size: 14px;color: nth(map-get($color, black), 2);
}
img {max-width: 100%;}
*[v-cloak] {display:none;}
*[align="justify"] {text-align: justify;text-justify:inter-ideograph;}

body, html {
  margin: 0;padding: 0;overflow:hidden;
  width: 100vw;height:100vh;
  background: nth(map-get($color, gray), 2);
}

// 套件類
.popover-moduel {
  > .title {
    font-size: 14px;position: relative;display: inline-block;width: 100%;
    &[icon="bell"]:before {font-size: 20px;font-weight: 10;}
    &[icon="bell"]:after {
      position: absolute;content: "";display: block;
      width: 6px;height:6px;border-radius: 100%;
      background: map-get($color, purple);top: 1px;right: 0px;
      border: solid 2px white;
    }
    .cube {
      display: inline-block;vertical-align: middle;
      width: 33px;height: 30px;line-height: 30px;
      background: map-get($color, orange);color: white;
      font-size: 18px;font-weight: bold;text-align: center;
      border-radius: 3px;margin-right: 5px;
    }
    &[drop="true"]:after {
      content: "\f078"; font-weight: 800;font-family:$fontAwesome;
      display: inline-block;vertical-align: middle;font-size: 12px;
      margin-left: 2px;transform: rotate(0deg);transition: .5s;
      position: relative; top: -1.3px;
    }
    &[drop="true"]:hover:after {
      transform: rotate(-180deg);
    }
  }
  .popover-item {display: none;}
}

.search-module {
  > * {
    border: none;background: none;font-size: 16px;
    font-weight: 100;color: nth(map-get($color, gray), 3);
    display: inline-block;vertical-align: middle;
  }
  button {
    cursor: pointer;padding: 10px;
    &.focus {color: map-get($color, purple);}
  }
  input {
    color: nth(map-get($color, black), 2);
    letter-spacing: 1.5px;font-size: 15px;
    width: calc(100% - 40px);
    &::placeholder {
      color: nth(map-get($color, black), 4);font-size: 16px;
    }
  }
}

.calendar-module {
  > * {display:block;width: 100%;}
  .calendar-header {
    padding: 16px 0;
  }
  .calendar-week {
    display: block;width: 100%;font-size: 0;
    > .days {
      display: inline-block;;width: calc((100% / 7) - 1px);
      text-align: center;padding: 0;cursor: pointer;
      color: nth(map-get($color, black), 4);
      position: relative;
      .num {
        display: inline-block;border-radius: 100%;
        width: 30px;padding-top: 6px;
      }
      .dot {
        display:block;text-align: center;
        height: 7px;
        &:before {
          display: inline-block;width: 4px;height: 4px;
          content: "";border-radius: 100%;background: map-get($color, blue);
        }
        &.bg-red:before {
          background: map-get($color, pink);
        }
      }
      &.active {
        .num {
          background: map-get($color, blue);color: white;
          width: 30px;line-height: 29px;padding-top: 0;
          & + .dot {display: none;}
        }
      }
      &:hover .num {
        background: map-get($color, blue);color: white;
        width: 30px;line-height: 29px;padding-top: 0;
      }
      &[disabled] {
        &:hover .num, .num {
          color: nth(map-get($color, gray),1);
          background: none;
        }
      }
    }
  }
  .calendar-body {
    .days {
      color: nth(map-get($color, black), 2);
      height: 45px;font-weight: 600;
    }
  }
  .calendar-control {
    > * {
      font-size: 15px;display: inline-block;
      vertical-align: top;min-width: 50px;text-align: center;
    }
    > .title {
      width: calc(100% - 110px);color: nth(map-get($color, purple), 1);
      font-weight: 600;
    }
    a {
      &:hover,&:active {
        color: nth(map-get($color, purple), 1);
      }
    }
  }
}

.badge-module {
  width: 100%;font-size: 0;
  .item {
    display: inline-block;background: nth(map-get($color, gray), 5);
    padding: 8px 15px;color: nth(map-get($color, black), 3);
    letter-spacing: 1.5px;box-shadow: 0 0 3px 1px rgba(0, 0, 0, .05);
    border-radius: 2px;
    & + .item {margin-left: 5px;}
    &:hover, &:active, &.active {
      background: nth(map-get($color, purple), 1);
      color: white;
    }
  }
}

// 主架構
.body-container {
  width: 100vw; height: 100vh;overflow: hidden;
  background: white;font-size: 0;
  > * {
    display: inline-block; vertical-align: top;
    height: 100%;box-sizing:border-box;
  }
  > #aside {
    width: 260px;border-right: solid 1px nth(map-get($color, gray), 3);
    padding: 10px 20px;
  }
  > #right-container {
    width: calc(100% - 262px);background: nth(map-get($color, gray), 6);
  }
}

// 左側欄
#aside {
  position: relative;
  .love {
    width: 30px;height: 30px;display: block;position: absolute;
    top: 5vh;left: 42px;font-size: 12px;color: white;
    background: map-get($color, purple);line-height: 31px;
    text-align: center;border-radius: 100%;
    box-shadow: 3px 3px 4px 1px rgba(142, 128, 239, .2);
  }
  .menu {
    display: flex;flex-direction: column;justify-content:top;
    align-items: center;height: 100%;padding: 10vh 25px;
    .item {
      display: block;height: 55px;line-height: 55px;
      color: nth(map-get($color, black), 2);width: 100%;font-weight: 600;
      font-size: 14px;letter-spacing: 1px;position: relative;
      > span {position:relative; z-index: 1;font-family: $rubik;}
      &:before {
        margin-right: 20px;font-size: 18px;display: inline-block;
        vertical-align: middle;
      }
      &:hover, &.active {
        color: map-get($color, purple);font-weight: bold;
      }
      &:hover:after, &.active:after {
        content: ""; position:absolute;
        left: -50px;width: calc(100% + 95px);background: map-get($color, purple);
        display: block;height:100%;top: 0;z-index: 0;opacity: .1;
      }
    }
  }
}

// 右側欄
#right-container {
  > * {
    display: block;width: 100%;box-sizing: border-box;
  }
  > #main {border-top: solid 1px nth(map-get($color, gray), 3);} 
}

// 右側 Header
#header {
  > * {
    display: inline-block;vertical-align: middle;font-size: 0;
    box-sizing: border-box;
  }
  > .search-module {
    width: calc(100% - 265px);padding: 10px 16px;
  }
  > .right {
    width: 260px;display: inline-table;
    > * {
      display: table-cell;vertical-align: middle;
      border-left: solid 1px nth(map-get($color, gray), 3);
      color: nth(map-get($color, black), 2);
      padding: 15px 18px;
    }
  }
}

#main {
  display: table;height: calc(100vh - 60px);
  > * {
    display: table-cell;padding: 20px;padding-bottom: 0;
    box-sizing: border-box;
  }
  .mainAside {
    background: white;width: 380px;max-width: 100%;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .08);
  }
}

.mainBody {
  > * {
    & + * {
      margin-top: 30px;
    }
  }
}

.week-container {
  > .title {
    display: table;width: 100%;
    padding: 0px 0 15px 0;letter-spacing: 2px;
    > h4 {font-size: 18px;}
    small {
      display: block;font-size: 12px;
      color: nth(map-get($color, gray), 3);
      transform:scale(.8);transform-origin: center left;
    }
    > * {
      width: 100px;display: table-cell;vertical-align: middle;
    }
    > *:last-child {text-align: right;}
    a {
      display: inline-block;vertical-align: middle;padding:0 3px;
      &:hover {color: map-get($color, purple);}position: relative;
      top: 9px;
    }
  }
  .weekBox {
    font-size: 0;background: white;
    box-shadow: -3px 2px 5px 1px rgba(0, 0, 0, .06);
    display: table;width: 100%;border-radius: 4px;overflow: hidden;
    > * {display: table-cell;vertical-align:middle;width: calc(100% / 2);}
    .content {
      padding: 0px 5px 8px 5px;box-sizing: border-box;
      color: white;
      & + .content {
        background: map-get($color, purple);
        padding: 20px 10px 18px 10px;
      }
      > * {display:inline-block;vertical-align: middle;}
      > img {width: 50px;}
      > .contentBox {
        width: calc(100% - 130px);color: white;margin-left: 10px;
        & + .contentBox {text-align: center;width: 50px;}
        .title {
          font-size: 16px;font-weight: 800;font-family: Arial;
        }
        small {font-size: 12px;opacity: .7;letter-spacing: 1px;}
      }
      .title, small {color: white;letter-spacing: 1.5px;}
    }
  }
  .calendar-module {
    width: 100%;
  }
}

.list-container {
  font-size: 0;height: calc(100% - 186px);
  .list-box {
    display: inline-block; width: calc(48% - 1px);
    height: 100%;overflow: hidden;
    & + .list-box {margin-left: 3.5%;}
    .item-box {
      background: white;height: calc(100% - 45px);
      box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .06);
      .item {padding: 8px 10px;}
    }
  }
}

// 下方方塊
.list-box {
  box-sizing: border-box;
  .list-title {
    font-size: 15px;padding-bottom: 10px;
    letter-spacing: 1px;
    small {
      font-size: 12px;
      color: nth(map-get($color, gray), 3);
    }
  }
  .item-box .item {
    padding: 8px 0;
    & + .item {
      border-top: solid 1px nth(map-get($color, gray), 1);
    }
    > * {
      display: inline-block;vertical-align: middle;
      height: 80px;
    }
    .photo {
      width: 50px;height:50px;
      background: nth(map-get($color, blue), 1) center center no-repeat;
      background-size: cover;
      border-radius: 8px;
    }
    .detail {
      width: calc(100% - 95px);margin-left: 10px;
      > *, .cube {
        color: nth(map-get($color, black), 3);
        font-size: 12px;font-weight: 400;
      }
      .cube {
        border: solid 1px nth(map-get($color, gray), 2);
        display: inline-block;vertical-align: top;
        border-radius: 2px;padding: 0 4px;
        line-height: 15px;margin-left: 3px;
        font-size: 12px;
      }
      .title {
        font-size: 15px;font-weight: 600;
        color: nth(map-get($color, black), 1);
        line-height: 30px;height: 30px;
        overflow: hidden;
      }
      .text, .tag {
        line-height: calc(50px / 3);
        width: 100%;
      }
      .text {
        max-height: calc((50px / 3) * 2);
        overflow: hidden;
      }
      .tag {
        max-height: calc(50px / 3);
        overflow: hidden;
      }
    }
    .more {
      color: nth(map-get($color, gray), 1);
      display: inline-flex;align-items: center;
      justify-content: center;
      margin-left: 10px;
      &:hover, &:active {
        color: nth(map-get($color, blue), 1);
      }
    }
  }
}

.mainAside {
  @at-root #main .mainAside {padding: 20px 0;}
  .calendar-module {
    border-bottom: solid 1px nth(map-get($color, gray), 1);
    margin-bottom: 25px;padding-bottom: 25px;
  }
  .list-box {
    .list-title {padding:0 18px;padding-bottom: 0;}
    .item {padding:5px 15px;}
  }
}

.addMore {
  position: fixed;z-index: 10;
  right: 2.5vw; bottom: 4vh;
  width: 60px;height:60px;
  display: block;
  background:nth(map-get($color, orange), 1);
  font-size: 20px;color: white;
  text-align: center;line-height: 60px;
  border-radius: 100%;
  box-shadow: 5px 6px 19px 1px rgba(255, 169, 26, 0.3);
  &:hover {opacity: .9;}
}